#form-container{
	margin-top: 20px;
	padding: 0px;
}

#member-form{
	padding: 20px;
}

#updatefacilityform{
	padding: 20px;
}

#addmember,
#listmember{
    display: inline-block;
    vertical-align: top;
    margin: 10px;

}