/*basic settings */
#addnoticebtn,
#viewnoticebtn{
  display: inline-block;
  float: left;
  margin: 10px;
}
.checkbox
{
  display: inline-block;
}


a:focus {
	outline: none !important;
	outline-offset: none !important;
}


/* helper classses */

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-20 {
	margin-top: 20px;
}

.no-margin {
	margin: 0px;
}



/* input [type = file]
----------------------------------------------- */

